/* Making page border box */
* {
  /* box-sizing: border-box; */
  margin: 0;
}

/* Page height and text setting */
html, body {
  height: 100%;
  text-align: center;
}

/* Responsive images */
.responsive {
  max-width: 100%;
  height: auto;
}

/* Header sticky to be scrollable with page */
header {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px 0;
  background-color: lightblue;
}

/* Header anchor styling */
header a {
  font-size: 20px;
  color: black;
  width: auto;
  padding: 25px 10px;
  text-decoration: none;
}

/* Header anchor hover color */
header a:hover {
  background-color: white;
}

/* Same styling for home, about */
#home,
#about {
  margin: 0;
  padding: 100px 0 100px 0;
  width: 100%;
}

/* Styling for about links */
#about a {
  color: yellow;
}

/* Home background image */
#home {
  background: url("Images/matrix-rain.gif");
}

/* Name and About styling */
.name, .about {
  z-index: 0;
  height: 100px;
  color: white;
  text-shadow: 8px 10px 9px red;
  font-size: 50px;
  font-family: cursive;
}

/* Animation on all h1 */
.name, .about {
  animation: in 5s ease-out forwards infinite;
  animation-delay: 10s;
  -webkit-animation: in 5s ease-out forwards infinite;
}

/* Animation keyframes for all h1 */
@keyframes in {
  0% {
    letter-spacing: -17px;
    opacity: 1;
  }

  30% {
    letter-spacing: 4px;
    opacity: 1;
  }

  100% {
    letter-spacing: 4px;
    opacity: 1;
  }
}

@keyframes in {
  0% {
    letter-spacing: -17px;
    opacity: 1;
  }

  30% {
    letter-spacing: 4px;
    opacity: 1;
  }

  100% {
    letter-spacing: 4px;
    opacity: 1;
  }
}

@keyframes in {
  0% {
    letter-spacing: -17px;
    opacity: 1;
  }

  30% {
    letter-spacing: 4px;
    opacity: 1;
  }

  100% {
    letter-spacing: 4px;
    opacity: 1;
  }
}

/* My motto in home styling */
.motto {
  color: white;
  text-shadow: 8px 10px 9px red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  padding: 100px;
}

/* About background image */
#about {
  background: url("Images/number-code.gif");
}

/* About styling */
#about {
  color: white;
  text-shadow: 6px 10px 8px #ffcc91;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}

/* My Business styling */
#my-business {
  font-family: 'Times New Roman', Times, serif;
  background: #333;
  font-size: 36px;
  color: white;
}

/* Footer styling */
footer {
  padding: 10px 10px;
  text-align: center;
  position: sticky;
  margin: 0;
  bottom: 0px;
  color: rgb(17, 22, 41);
  background-color: lightblue;
  font-family: cursive;
  font-size: 26px;
  height: auto;
}
